<div class="row justify-content-center">
    <div class="col-12 col-md-4">
        <div class="card">
            <img class="card-img-top" src="/static/img/account.jpg" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">Hi {{ vm.user }}</h5>
                <h5 class="card-title" ng-if="!vm.hasDevice">
                    <a href="/scan">綁定裝置？</a>
                </h5>
                <p>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="d in vm.deviceList">
                            <span ng-bind="d.deviceId"></span>
                            <i ng-click="vm.remove(d)">❌</i>
                        </li>
                    </ul>
                </p>
                <form name="form" novalidate>
                    <button type="button" class="btn btn-block btn-danger" ng-click="vm.logout()">
                        Logout
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>