<div class="row justify-content-center">
    <div class="col-12 col-md-4">
        <div class="card">
            <img class="card-img-top" src="/static/img/account.jpg" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">Hi
                    <code ng-bind="vm.user"></code>
                </h5>
                <h5 class="card-title" ng-if="!vm.hasDevice">
                    <a href="/scan" ng-bind="vm.lang.bindingDevice"></a>
                </h5>
                <p>
                    <ul class="list-group">
                        <li class="list-group-item justify-content-between" ng-repeat="d in vm.deviceList">
                            <div class="d-flex justify-content-between">
                                <h5 class="mb-1">📱</h5>
                                <small><i ng-click="vm.remove(d)" style="cursor: pointer;">❌</i></small>
                            </div>
                            <span ng-bind="d.deviceName+' - '+d.deviceId"></span>
                        </li>
                    </ul>
                </p>
                <form name="form" novalidate>
                    <button type="button" class="btn btn-block btn-danger" ng-click="vm.logout()"
                        ng-bind="vm.lang.logout"> </button>
                </form>
            </div>
        </div>
    </div>
</div>