<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <div class="card">
            <img
                class="card-img-top"
                src="/static/img/home.jpg"
                alt="Card image cap"
            />
            <div class="card-body">
                <form name="form" ng-submit="vm.login()">
                    <div class="form-group">
                        <label>帳號</label>
                        <input
                            type="text"
                            ng-model="vm.user.username"
                            class="form-control"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label>密碼</label>
                        <input
                            type="password"
                            ng-model="vm.user.password"
                            class="form-control"
                            required
                        />
                    </div>

                    <div class="form-group">
                        <label>驗證碼</label>
                        <div class="input-group">
                            <input
                                type="text"
                                ng-model="vm.validNumber"
                                class="form-control"
                                required
                            />
                            <div class="input-group-append">
                                <span class="input-group-text"
                                    >{{ vm.vaildCheckNumber }}</span
                                >
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-block btn-primary">
                        登入
                    </button>

                    <div class="invalid-feedback d-block" ng-if="vm.invalid">
                        {{
                            vm.vaildCheckNumber === vm.validnumber
                                ? '帳號密碼'
                                : '驗證碼'
                        }}錯誤
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div
    class="modal fade"
    id="validModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="validModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="validModalLabel">Modal title</h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="container"></div>
            </div>
        </div>
    </div>
</div>
