<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>TARSIERQ</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <script>
            var url = '<%= rawUrl %>';
        </script>
    </head>

    <body ng-app="qrApp">
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand">
                TarsierQ
            </span>
        </nav>
        <div class="container" ng-controller="qrCtrl">
            <div class="row">
                <div class="col-sm">
                    <ul
                        class="list-group list-group-horizontal list-group-flush"
                    >
                        <li class="list-group-item">
                            <div class="card" style="width: 18rem;">
                                <div class="text-center" id="generator"></div>
                                <div class="card-body">
                                    <h5 class="card-title">註冊</h5>
                                    <p class="card-text"></p>
                                    <a ng-href="{{ generatorUrl }}">{{
                                        generatorUrl
                                    }}</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="card" style="width: 18rem;">
                                <div class="text-center" id="login"></div>
                                <div class="card-body">
                                    <h5 class="card-title">登入</h5>
                                    <p class="card-text"></p>
                                    <a ng-href="{{ loginUrl }}">{{
                                        loginUrl
                                    }}</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <button class="btn btn-default" ng-click="logout()">
                        登出
                    </button>
                    <div class="list-group">
                        <a
                            ng-repeat="c in clientList"
                            ng-click="createClientLogin(c)"
                            class="list-group-item list-group-item-action"
                        >
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1" ng-bind="c.deviceId"></h5>
                            </div>
                            <p class="mb-1" ng-bind="c.token"></p>
                            <small ng-if="c.login">✅</small>
                            <small ng-if="!c.login">❌</small>
                        </a>

                        <a
                            ng-if="clientList.length==0"
                            class="list-group-item list-group-item-action"
                        >
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">無裝置</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/lib/socket.io.js"></script>
        <script src="/static/js/lib/qrcode.js"></script>
        <script src="/static/js/lib/angular.min.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>
